<div class="jumbotron py-3">
  <h4 class="display-4 text-center">Cadastro Pessoa</h4>
</div>

<div class="row">
  <div class="col-md-6">
    <app-cadastro-details-form></app-cadastro-details-form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <!--<th>Id</th>-->
          <th>Nome</th>
          <th>País</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cp of service.list">
          <!--<th>{{ cp. }}</th>-->
          <th>{{ cp.nome }}</th>
          <th>{{ cp.pais }}</th>
          <th>{{ cp.email }}</th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

